In [17]:
#export
import dataverk as dv

In [18]:
#export
conn = dv.connectors.JSONStatConnector()
df = conn.get_pandas_df('https://data.ssb.no/api/v0/no/table/08771')

2019-02-14T10:11:20.483908: B149899 https://data.ssb.no/api/v0/no/table/08771

In [19]:
df.head()

  næring (SN2007)              statistikkvariabel kvartal    value
0   Alle næringar  Ledige stillingar (stillingar)  2010K1  60500.0
1   Alle næringar  Ledige stillingar (stillingar)  2010K2  67900.0
2   Alle næringar  Ledige stillingar (stillingar)  2010K3  63900.0
3   Alle næringar  Ledige stillingar (stillingar)  2010K4  55800.0
4   Alle næringar  Ledige stillingar (stillingar)  2011K1  68900.0

In [20]:
#export
df_alle = df[(df['næring (SN2007)']=='Alle næringar') & (df['statistikkvariabel']=='Ledige stillingar (stillingar)')]

In [21]:
#export

dp = dv.Datapackage()

In [22]:
#export

dp.add_resource(df_alle, dataset_name='Ledige stillinger', dataset_description="Antall ledige stillinger pr kvartal")

In [23]:
# export 

desc = '''
## Ledige stillinger

Antall stillinger
'''

dp.add_view(
    spec_type='table',
    description = desc,
    name='Ledige stillinger',
    title='Antall ledige stillinger pr kvartal',
    resources = 'Ledige stillinger'
)

In [24]:
#export

dp.write_datapackage()

etl.ipynb converted to etl.py